{
  "_comments": [
    "printwidth     => 自動折り返し文字数",
    "trailingComma  => 複数行の場合、可能な限り末尾のコンマを出力",
    "tabWidth       => タブを押したときのスペースサイズ",
    "semi           => ステートメントの最後にセミコロンを付与",
    "singleQuote    => 二重引用符の代わりに単一引用符を使用",
    "useTabs        => タブではなくスペースを使用する"
],
  "printWidth": 200,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false
}