

.footer_container {
  position: sticky;
  top: 100vh;
  width: 100%;
  background-color: #f4f4f5;
  height:5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  max-height: 40px;
  
}
.footer_versionname {
  color: #989898;
  display: flex;
}

.dark_mode {
  background-color: #3d3d43;

}