
.audioplayer_parent {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  width: 330px;
  position: fixed;
  background-color: #fefefe;
  border: 1px solid #888;
  user-select: none;
  -webkit-user-drag: none;
}

.audiocontainer {
  width: 300px;
  display: flex;
}
.closebtn_container {
  display: flex;
  justify-content: flex-end;
  background-color: #f4f4f5;
}
.closebtn {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    &:hover {
      background-color: #c42c1d;
    }
}

.audioplayer {
  box-shadow: 0 0 0px 0 #00000000 !important;
}

.window_hidden {
  display: none;
}
.window_open {
  display: block;
}
