/*
これはリセットCSS
ブラウザ別で見た目が変わるのを防ぐ
https://note.com/imanarimanana/n/n70f23512f2fb
*/


html, body {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
