/*
*   ボタンのCSSは @/components/styles/btn.module.scss に入っています
*/



/*  フォントのインストール  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  z-index: 100;

}

.timer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.maincontent {
  color: red;
  font-weight: bold;
  z-index: 10;
  font-size: 12vw;
  font-family: roboto;
}
.maincontent_rest {
  color: blue;
  font-weight: bold;
  z-index: 10;
  font-size: 12vw;
}

.progress_bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50vw;
  max-width: 700px;
  z-index: 1;
}

.progress {
  height: 20px;
  background-color: #3498db;
  width: 0;
  transition: width 1s linear;
}

.btn_main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.running_stickman {
  width: 1vw;
  max-width: 200px;
  margin: -40px;
}



.bot_container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

/*  
  darkmodeの色を変更する
*/




.dark_mode {
  background-color: #1e1e1e;
  color: #ffffff;
  z-index: -99;
  transition: background-color 0.3s ease;
  .running_stickman {
    filter: invert(100%);
  }
  p {
    color: #ffffff;
  }
  h1 {
    color: #ffffff;
  }
  .clear-button {
    background-color: #ff0000;
  }
  .progress_bar {
    background-color: #ffffff;
  }
  .progress {
    background-color: #ff0000;
  }
}

.selected_image {
  position: fixed;
  bottom: 0%;
  z-index: 101;
}



