.text_h1 {
  display: flex;
  justify-content: center;
}

.character1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character_container {
  display: flex;
  justify-content: center;
  align-items: center;
}